/*
  This is to help make development easier by including a responsive container
*/
.container {
  width: 1127px;
  margin-left: auto;
  margin-right: auto;
}


/* Small Monitor */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 933px;
  }
}


/* Tablet (iPad Pro or Below) */
@media screen and (max-width: 1024px) {
  .container {
    width: 723px;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .container {
    width: auto !important;
    margin-left: 1em !important;
    margin-right: 1em !important;
  }
}
