/*******************************
            Global
*******************************/

html, body {
  font-family: "Lato", Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}
body {
  min-height: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Merriweather", Times New Roman, serif;
}


.button {

}



/*******************************
              Page
*******************************/

.hero {

}

.page {

}

.footer {

}


/*******************************
         Responsive
*******************************/

/* Small Monitor */
@media only screen and (min-width: 1025px) and (max-width: 1199px) {


}


/* Tablet */
@media screen and (max-width: 1024px) {

}

/* Mobile */
@media only screen and (max-width: 767px) {
}
